* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

:root {
    --primary: rgb(10, 111, 253);
    --gray: rgb(190, 190, 190);
}

/* HOME PAGE */

.heading {
    font-size: 1.5rem;
    font-weight: bold;
    place-content: center;
}

.home_page_nav {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background-color: var(--gray);
}

.nav_left {
    justify-self: start;
}

.nav_right {
    justify-self: end;
}

.nav_mobile {
    justify-self: center;
}

.nav_desktop {
    display: none;
}

/* NOTES PAGE */

.notes_list_main_div {
    background-color: var(--gray);
}

@media (min-width: 801px) {
    .app_main_div {
        padding: 15px;
    }

    .home_main_div {
        padding: 15px;
    }

    .nav_mobile {
        display: none;
    }

    .nav_desktop {
        justify-self: center;
        display: flex;
        gap: 30px;
        height: 100%;
    }

    .nav_links {
        all: unset;
        display: block;
        padding-top: 7px;
        border-bottom: 3px solid var(--primary);
        height: calc(100% - 10px);
        cursor: pointer;
    }
}